In [1]:
%load_ext rpy2.ipython

# Variables y constantes

El nombre de una variable tiene que ser claro y debe reflejar el dato que contiene, es decir, descriptivo. Se debe tener en cuenta que es un lenguaje sensible a las mayúsculas. Por ejemplo, EDAD y edad son diferentes.

In [2]:
%%R
# Operador de asignación <-
nacionalidad <- "Mexicana"
estatura <- 1.53
# estudiantes_sesion1 <- 27
estudiantes_sesion1 <- as.integer(7)
# estudiantes_sesion1 <- 27L
usa_lentes <- TRUE

# Tipos de datos

In [3]:
# Datos NA y NULL
#
# NA representa un dato perdido. Mientras que NULL indica la ausencia de datos.

%%R
print(class(nacionalidad))
print(class(estatura))
print(class(estudiantes_sesion1))
print(class(usa_lentes))
print(class(NULL))

[1] "character"
[1] "numeric"
[1] "integer"
[1] "logical"
[1] "NULL"

### Validación de tipo de datos

In [4]:
%%R
print(is.integer(estudiantes_sesion1))
print(is.numeric(estatura))
print(is.character(nacionalidad))
print(is.logical(usa_lentes))
print(is.na(NA))
print(is.null(NA))

[1] TRUE
[1] TRUE
[1] TRUE
[1] TRUE
[1] TRUE
[1] FALSE

## Coerción

Transformación de un tipo de datos a otro.

Cuando se ejecuta una operación, R hace la coerción de manera implicita. El orden de las coerciones es:

**logical -> integer -> numeric -> character**

In [5]:
%%R
print(as.integer(estatura))
print(as.numeric(usa_lentes))
print(as.character(estatura))
# La siguiente línea marca error
# print(as.logical(nacionalidad))
print(as.logical(estudiantes_sesion1))
print(as.null(NA))

[1] 1
[1] 1
[1] "1.53"
[1] TRUE
NULL

## Operadores

### Aritméticos

Se pueden usar en datos de tipo *numeric* e *integer*.

*   '+'  Suma
*   '-'  Resta
*   '*'  Multiplicación
*   '/'  División
*   '^'  Potencia
*   '%%' Residuo de la división
*   '%/%' División entera

In [6]:
%%R
print(4 + 5)
print(9 - 8.5)
print(13.2 * 7)
print(354 / 4)
print('Cociente')
print(354 %/% 4)
print('Residuo')
print(354 %% 4)
print(2 ^ 4)

[1] 9
[1] 0.5
[1] 92.4
[1] 88.5
[1] "Cociente"
[1] 88
[1] "Residuo"
[1] 2
[1] 16

### Relacionales

Se emplean para comparaciones y devuelven como resultado **TRUE** o **FALSE**.

* <    Menor que
* <=   Menor o igual que
* '>'    Mayor que
* '>='   Mayor o igual que
* ==   Exactamente igual
* !=   No es igual

Cuando se emplean estos operadores con cadenas de texto, la comparación se hace por orden alfabético.

In [7]:
%%R
print(nacionalidad == "Americana")
print(estudiantes_sesion1 > estatura)
print(usa_lentes <= estatura)
print(estatura != nacionalidad)

[1] FALSE
[1] TRUE
[1] TRUE
[1] TRUE

### Lógicos

Operaciones de Álgebra Booleana.

* x | y  - x o y - x, y o ambos son verdaderos
* x & y  - x y y - ambos son verdaderos
* !x     - negación de x
* isTRUE(x) - x es verdadero

Se emplean con datos de tipo **numérico**, **lógico** y **complejo**. Además el tipo del dato que devuelven es **logic**

La transformación de un dato **numérico** y **complejo** es **TRUE** si tienen un valor diferente de 0 y **FALSE** en caso contrario.

In [8]:
%%R
print(3 & 4)
print(3 & 0)
print(FALSE | usa_lentes)
# Los operadores lógicos no se pueden usar en cadenas de caracteres, por lo tanto la siguente línea marca error
# print(!nacionalidad)
print(!estatura)
print(estatura | FALSE)

[1] TRUE
[1] FALSE
[1] TRUE
[1] FALSE
[1] TRUE

### Prioridad de operadores

1. ^
2. '*', /
3. '+', -
4.	<, >, <=, >=, ==, !=
5.	!
6.	&
7.	|
8.	<-

En caso de que se quiera cambiar el orden de ejecucición se deben usar paréntesis.

In [9]:
%%R
print(3 + 2 ^ 3 * 7 %% 6)
print(3 + (2 ^ 3) * 7 %% 6)
print(3 + ((2 ^ 3) * (7 %% 6)))

[1] 11
[1] 11
[1] 11